@import "reset";
@import "grid";
@import "menu";
@import "top_article";
@import "salon_gallery";
@import "team";
@import "portfolio";
@import "promotions";
@import "contact";
@import "footer";
@import "intro";

body {

	background-color: #929292;
	font-family: 'Lato', sans-serif;
}

.top_sec{
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #929292;
}

.desktop {
	display: none;
	@media(min-width: 640px) {
		display: inline;
	}
}

.mobile {
	display: block;
	@media(min-width: 640px) {
		display: none;
	}
}

.container {
	//	background-color: rgba(155, 155, 155, .3);
}

h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 8px;
	font-size: 1.5em;
	color: #b49765;
	margin-bottom: 20%;
	font-weight: 700;
	@media(min-width: 640px) {
		font-size: 1.7em;
		margin-bottom: 10%;
		margin-top: 0;
		margin-left: 10%;
	} 
	@media(min-width: 800px) {
		font-size: 2em;
		margin: 10% 10%;
	}
}

p {
	color: white;
	margin: 0 5px 40px 5px;
	font-size: 12px;
	@media(min-width: 640px) {
		margin: 0 5%;
		font-size: 15px;
	}
	@media(min-width: 800px) {
		margin: 0 10%;
		font-size: 18px;
	}
}

.hidden {
	display: none !important;
}

.upBtn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
	font-size: 30px;
	line-height: 45px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	background-color: #b49765;
	text-align: center;
	color: white;
}
